.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: center no-repeat fixed url(bg.jpg);
  background-size: cover;
}

h1 {
  margin: 30px 0px;
  color: #fff;
  text-transform: uppercase;
}

input {
  padding: 8px;
}

table {
  margin-top: 30px;
  width: 100%;
  padding: 0px 15px;
}
th {
  padding: 25px 0px;
  text-transform: uppercase;
  font-size: 16px;
}
td {
  padding: 10px 0px;
  font-size: 16px;  
}

table th {
  background-color: #fff !important;
}
table tr:nth-child(odd) {
  background-color: #e8e8e894;
}
table tr:nth-child(even) {
  background-color: #f5f5f5e0;
}

p {
  color: #fff;
}
